@charset "utf-8";
/* CSS Document */


#continfo{}
	
	#servi{
		border-bottom:dotted 2px #99FFFF;
		margin-bottom:20px;
		text-align:center;
		background:rgba(102,153,153,0.2);}
		
		#servi h2{
			margin-top:10px;
			text-align:center;
			font-size:17px;
			color:#000;
			text-shadow: 3px 3px 3px #fff;
			width:1024px;
			background:rgba(102,153,153,0.2);
			padding:10px 5px 10px 5px;
			}
		#servi a{
			display:block;
			text-decoration:none;
			color:#000;
			text-shadow: 1px 1px 1px #fff;
			font-size:12px;
			text-align:center;
			float:left;
			margin-left:120px;
			margin-top:20px;
			padding:10px 35px 10px 35px;
			background:rgba(102,153,153,0.5);
			/*le di sombra a las cajas de servi*/
			box-shadow: 10px 10px 5px #888;
			margin-bottom:20px;
			/*hice un circulo*/
			border-radius:50%;
			

}
	
		
		#servi a:hover{
			opacity:0.7;
		}
		

			
			#servi a p{
				text-align:center;
				font-weight:bold;
				padding:8px 5px 8px 5px;
				width:100px;
				}  	 
			
	
	#servi2{
		background:rgba(102,153,153,0.7);
		
	
	}
		#servi2 a{
			float:left;
			text-align:center;
			text-decoration:none;
			font-size:12px;
			margin-left:110px;
			color:#000;
			
		}
		#servi2 a:hover{opacity:0.7
		
			
		}
			#servi2 a p{text-align:center;
				font-weight:bold;
				width:200px;}    
    
   

